
name: Build and deploy Node.js app to Azure Web App - handipantree

on:
  push:
    branches:
      - FrontEndTestDeploy
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js version
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - name: npm install, build, and test
        run: |
          cd PantryFrontEnd/pantry-app/
          npm install
          CI=false npm run build
          
      - name: Zip artifact for deployment
        run: zip release.zip ./PantryFrontEnd/* -r

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v2
        with:
          name: node-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: node-app
          
      - name: unzip artifact for deployment
        run: |
          unzip -q release.zip
          ls
          rm release.zip
          cd PantryFrontEnd/
          ls
          
      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'handipantree'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_FFDC40741A8947F79A837F75899F1313 }}
          package: ./PantryFrontEnd/pantry-app/build/
